---
layout: base
title: Contact Me
---

<!-- Contact Page Content -->

<div class="contact">

    <section id="home">

        <h1>About Me</h1>
        
        <li style="display: flex; align-items: flex-start; margin-bottom: 20px;">

        <img src="\assets\images\OutdoorsBenDodson_Medium.jpg" style="width:600px;height:600px;">

        <ul>
            <p>
              I've been a dedicated robotics developer since high school, with a passion for building robots and bringing them to life. 
              While I work across all aspects of robotics, my primary focus has been on mechanical design and integration. 
              In addition to mechanical design, I have fairly substantial experience in programming, particularly for robotics applications, and a working knowledge of electrical systems. 
              My specific focus and area of interest these days is on the integration of hardware and software. 
              I believe that most research focuses on either software or hardware, but one cannot exist without the other. 
              As robotics grows, the boundaries between these two disciplines need to be lowered so that specialized hardware and software can work together to make the world a better place.
            </p>
          
            <p>
                Many of my projects are self-motivated, creative endevours that I do because I find them fun, I want to learn more, and am looking to push boundaries. 
                I also love working with teams when I can!
                I'm deeply interested in <i>solving real problems</i> while having fun along the way. 
                I hope that as you explore my work, you find it as fun as I do. Feel free to <a class="custom-link" href="/contact">reach out</a> if you'd like to collaborate or learn more!
            </p>
          </ul>

        </li>
          
          <h2>A (basic) Timeline</h2>
          <ul>
            <li>August 2020 - May 2024: I completed my undergraduate degree at Cornell from, majoring in Mechanical Engineering and minoring in Computer Science.</li>
            <li>September 2021 - June 2024: I was a member of <a class="custom-link" href="https://marsrover.engineering.cornell.edu/">Cornell Mars Rover</a>, where I served as the arm lead for the 2023-2024 academic year (August 2023 - June 2024).</li>
            <li>January 2024 - Current: I started my Master's in Mechanical Engineering in January 2024 and expect to complete it by December 2024.</li>
            <li>March 2024 - Current: I joined the <a class="custom-link" href="https://emprise.cs.cornell.edu/">EmPRISE Lab</a> at Cornell and work on Robot Assistive Feeding </li>
          </ul>
          
          <h2>My Hobbies</h2>
          I enjoy climbing, hiking, and camping—basically anything that gets me outdoors and lets me spend time with friends. I love trying new things, which has led me to some awesome experiences like caving, white-water kayaking, and ice climbing, all of which I've thoroughly enjoyed.
          
          <h2>About This Site</h2>
          This site serves as a portfolio to showcase some of my projects. I'm not a web developer, so this site is best viewed on a PC with a wide screen. Ideally, you'd view this on <i>my laptop</i>. So if it doesn't work on your phone, please try a computer (preferably one with the same screen size as mine).
          
        <div class="footer">
            <p>© {{ site.time | date: '%Y' }} Ben Dodson</p>
        </div>

    </section>
    

</div>



<style>

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll */
  }

h1 {
    font-size: 2.5em; /* You can adjust the size to your preference */
}

h2 {
    font-size: 2em;
}

</style>
