---
layout: base
title: Welcome to My Midnight-Themed Site
---

<!-- Home Page Content -->

<div class="home">

    <section id="home">

    <div class="banner-image"></div>

    <div class="intro">
      <h1>Ben Dodson</h1>

      &nbsp;

      <ul>
        <li style="display: flex; align-items: flex-start; margin-bottom: 20px;">
          <img src="\assets\images\ArmBenDodson.jpg" style="width:400px;height:400px;">
          <ul>
            Hi I'm Ben. This is my portfolio. I'm just a dude who likes robots. Look at them :D
          </ul>
        </li>
      </ul>
      
    </div>

    <div class="content">

        <h1>Selected Projects</h1>

        &nbsp;
        
        <ul>
            {% for post in site.posts limit:100 %}
            <li style="display: flex; align-items: flex-start; margin-bottom: 20px;">
              <img src="{{ post.icon }}" style="width: 400px; height: 400px; margin-right: 20px;">
              <div>
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <p>{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
                <small>{{ post.date | date: "%B %Y" }}</small>
              </div>
            </li>
          {% endfor %}
        </ul>
    </div>

    <div class="footer">
        <p>© {{ site.time | date: '%Y' }} Ben Dodson</p>
    </div>
    </section>

</div>



<style>

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll */
  }

  .banner-image {
    background-image: url('/assets/images/CMR_Background_Cropped.png');
    background-size: 100% auto; /* Ensures the entire image is visible, resizes but might leave space */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-position: top center; /* Position the image to start from top left */
    background-attachment: fixed; /* Keeps the background from scrolling */

    position: absolute; /* Positions the div from the top-left corner of the viewport */
    margin-left: -10%;
    margin-right: 0%;
    top: 0;

    width: 120vw; 
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
  }

  .intro {
    position: relative;
    margin-top: 100vh; /* Pushes the content below the background image */
    margin-bottom: 20vh;
  }

  h1 {
    font-size: 3em; /* You can adjust the size to your preference */
    text-decoration: underline;
  }

</style>

