---
layout: base
title: Welcome to My Midnight-Themed Site
---

<!-- Home Page Content -->

<div class="home">

    <section id="home">

      <!-- <div class="welcome-text">
        <h1>Hi. I'm Ben Dodson.</h1>
      </div> -->
      
      <div class="banner-image"></div>

    <div class="intro">
      <h1>About Me</h1>
      <div class="divider"></div>

      &nbsp;

      <ul>
        <li style="display: flex; align-items: flex-start; margin-bottom: 20px;">
          <img src="\assets\images\ArmBenDodson_Medium.jpg" style="width:400px;height:400px;">
          <ul>
            Hi I'm Ben. I'm a Masters of Engineering student in Mechanical Engineering at Cornell University. I also did my undergrad at Cornell in Mechanical Engineering and minored in Computer Science.

            I currently have the pleasure of working in the <a class="custom-link" href="https://emprise.cs.cornell.edu/">EmPRISE Lab</a> with Professor Tapomayukh Bhattacharjee where I work on robot assistive feeding.

            I was previously the arm lead of the <a class="custom-link" href="https://marsrover.engineering.cornell.edu/">Cornell Mars Rover</a> team and competed in the <a class="custom-link" href="https://urc.marssociety.org/">University Rover Challenge</a>.

            I'm passionate about robotics. My focus is on the fusion between hardware and software for the development of the next generation of robotics for learning and manipulation.

          </ul>
        </li>
      </ul>
      
    </div>

    <div class="content">

        <h1>Selected Projects</h1>
        <div class="divider"></div>

        &nbsp;

        <ul>
            {% for post in site.posts limit:4 %}
            <li style="display: flex; align-items: flex-start; margin-bottom: 20px;">

              <a class=link-pic href="{{ post.url }}" style="flex-shrink: 0;">
                <img src="{{ post.icon }}" style="width: 400px; height: 400px; margin-right: 20px;">
              </a>

              <div>
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                
                &nbsp;
                <p>{{ post.summary }}</p>

                <small>{{ post.date | date: "%B %Y" }}</small>
              </div>
            </li>
          {% endfor %}
        </ul>
    </div>

    <div class="footer">
        <p>© {{ site.time | date: '%Y' }} Ben Dodson</p>
    </div>
    </section>

</div>



<style>

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll */
  }

  .banner-image {
    background-image: url('/assets/images/Background_bzd.png');
    background-size: 100% auto; /* Ensures the entire image is visible, resizes but might leave space */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-position: top center; /* Position the image to start from top left */
    background-attachment: fixed; /* Keeps the background from scrolling */

    position: absolute; /* Positions the div from the top-left corner of the viewport */
    margin-left: -10%;
    margin-right: 0%;
    top: 0;

    width: 120vw; 
    height: 85vh;
    overflow: hidden;
    object-fit: cover;


    display: flex;                  /* Enables flexbox for centering */
    justify-content: center;        /* Horizontally center content */
    align-items: center;

  }

  .welcome-text h1 {
    color: white;                      /* Text color */
    font-size: 4em;                    /* Adjust font size */
    text-align: center;                /* Center text */
    margin: 0;                         /* Remove default margin */
    
    background-color: rgba(119, 13, 5, .7);
    padding: 20px 40px;                  
    display: inline-block;             
    z-index: 0;

    position: absolute;
    text-align: center;
  }

  .intro {
    position: relative;
    margin-top: 80vh; /* Pushes the content below the background image */
    margin-bottom: 20vh;
  }

  h1 {
    font-size: 2.5em; /* You can adjust the size to your preference */
  }

  h3 {
    font-size: 2em;
    text-decoration: underline;
  }

  .divider {
    height: 1px;           /* Set the thickness */
    background-color: #e8e8e8; /* Set the color */
    width: 100%;           /* Stretch across the page */
    margin: 20px 0;        /* Optional: Add space above and below */
  }

  .link-pic img {
    transition: opacity 0.3s ease;  /* Smooth transition */
  }

  .link-pic:hover img {
    opacity: 0.5;  /* Dim the image on hover */
  }

</style>

<!--   .banner-image h1 {
    font-size: 4em;                 /* Adjust font size */
    text-align: center;             /* Horizontally center text */
    /* color: rgb(119, 13, 5); */
    color: rgb(255, 255, 255);
    font-weight: bold;
  } -->