---
layout: base
title: Welcome to My Midnight-Themed Site
---

<!-- Home Page Content -->

<div class="home">

    <section id="home">

    <div class="banner-image"></div>

    <div class="intro">
      <h1>About Me</h1>
      <div class="divider"></div>

      &nbsp;

      <ul>
        <li style="display: flex; align-items: flex-start; margin-bottom: 20px;">
          <img src="\assets\images\ArmBenDodson_Medium.jpg" style="width:400px;height:400px;">
          <ul>
            &emsp;Hi I'm Ben. I'm a Masters of Engineering student in Mechanical Engineering at Cornell University. I also did my undergrad at Cornell in Mechanical Engineering and minored in Computer Science.

            I have the pleasure of working in the EmPRISE Lab with Professor Tapomayukh Bhattacharjee where I work on robot assistive feeding.

            I was previously the arm lead of the Cornell Mars Rover team and competed in the University Rover Challenge. 

            I'm passionate about robots. My focus is on the fusion between hardware and software for the development of the next generation of robotics for learning and manipulation.


          </ul>
        </li>
      </ul>
      
    </div>

    <div class="content">

        <h1>Selected Projects</h1>
        <div class="divider"></div>

        &nbsp;

        <ul>
            {% for post in site.posts limit:4 %}
            <li style="display: flex; align-items: flex-start; margin-bottom: 20px;">

              <a class=link-pic href="{{ post.url }}" style="flex-shrink: 0;">
                <img src="{{ post.icon }}" style="width: 400px; height: 400px; margin-right: 20px;">
              </a>

              <div>
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                
                &nbsp;
                <p>{{ post.excerpt | strip_html | truncatewords: 20 }}</p>

                <small>{{ post.date | date: "%B %Y" }}</small>
              </div>
            </li>
          {% endfor %}
        </ul>
    </div>

    <div class="footer">
        <p>© {{ site.time | date: '%Y' }} Ben Dodson</p>
    </div>
    </section>

</div>



<style>

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll */
  }

  .banner-image {
    background-image: url('/assets/images/CMR_Background_Cropped.png');
    background-size: 100% auto; /* Ensures the entire image is visible, resizes but might leave space */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-position: top center; /* Position the image to start from top left */
    background-attachment: fixed; /* Keeps the background from scrolling */

    position: absolute; /* Positions the div from the top-left corner of the viewport */
    margin-left: -10%;
    margin-right: 0%;
    top: 0;

    width: 120vw; 
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
  }

  .intro {
    position: relative;
    margin-top: 100vh; /* Pushes the content below the background image */
    margin-bottom: 20vh;
  }

  h1 {
    font-size: 2.5em; /* You can adjust the size to your preference */
  }

  h3 {
    font-size: 2em;
    text-decoration: underline;
  }

  .divider {
    height: 1px;           /* Set the thickness */
    background-color: #e8e8e8; /* Set the color */
    width: 100%;           /* Stretch across the page */
    margin: 20px 0;        /* Optional: Add space above and below */
  }

  .link-pic img {
    transition: opacity 0.3s ease;  /* Smooth transition */
  }

  .link-pic:hover img {
    opacity: 0.5;  /* Dim the image on hover */
  }

</style>

