---
layout: base
title: Welcome to My Midnight-Themed Site
---

<!-- Projects Page Content -->

<div class="projects">

    <section id="home">

        <h2>About These Projects</h2>

        <ul>

            &emsp; This is a listing for all my projects, big and small. This includes very short projects for classes that were fun to add, but not much more than a picture. The biggesst projects are linked at the home page.

            These projects were done over the course of my undergrad at Cornell. Some of the projects are ongoing and will be updated whenever I get to it. Some of them have very limited writeups and probably won't be updated!

            &nbsp;
            &nbsp;

        </ul>

        <h1>Full Project List</h1>
        <ul>
            {% for post in site.posts limit:4 %}
            <li style="display: flex; align-items: flex-start; margin-bottom: 20px;">

              <a class=link-pic href="{{ post.url }}" style="flex-shrink: 0;">
                <img src="{{ post.icon }}" style="width: 400px; height: 400px; margin-right: 20px;">
              </a>

              <div>
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                
                &nbsp;
                <p>{{ post.summary }}</p>

                <small>{{ post.date | date: "%B %Y" }}</small>
              </div>
            </li>
          {% endfor %}
        </ul>


        <div class="footer">
            <p>© {{ site.time | date: '%Y' }} Ben Dodson</p>
        </div>


    </section>

</div>



<style>

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Prevents horizontal scroll */
    }

    h1 {
        font-size: 2.5em; /* You can adjust the size to your preference */
    }
    
    h2 {
        font-size: 2.5em; /* You can adjust the size to your preference */
    }

    h3 {
        font-size: 2em;
        text-decoration: underline;
    }
    
    .link-pic img {
    transition: opacity 0.3s ease;  /* Smooth transition */
    }

    .link-pic:hover img {
        opacity: 0.5;  /* Dim the image on hover */
    }
    
</style>